.control-btngrp {
  margin: 25px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
}

#control-left {
  bottom: 0;
  left: 0;
}

#control-right {
  top: 0;
  right: 0;
}

.control-key {
  height: 40px;
  width: 56px;
  font-size: 18px;
  text-align: center;
  margin: 0 8px;
  color: rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.control-btngrp .control-key:first-child {
    margin-left: 0;
}

.control-btngrp .control-key:last-child {
    margin-right: 0;
}
